@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  select {
    @apply appearance-none bg-white dark:bg-gray-700 bg-no-repeat;
    @apply bg-[position:right_8px_center] bg-[length:12px];
    @apply pr-8 min-w-40;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%236b7280"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>');
  }
  
  select:focus {
    outline: none;
  }
  
  .dark select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%239ca3af"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>');
  }
}
