{% load presentation_tags %}

<div x-data="{ view: localStorage.getItem('serviceView') || 'grid' }"
     x-init="$watch('view', value => localStorage.setItem('serviceView', value)); 
             window.addEventListener('storage', () => { view = localStorage.getItem('serviceView') || 'grid' })">
    
    <div x-show="view === 'grid'" x-transition>
        {% include 'accounting/components/service_grid_view.html' with services=services has_remanentes=has_remanentes line_path=line_path current_category=current_category %}
    </div>
    
    <div x-show="view === 'list'" x-transition>
        {% include 'accounting/components/service_list_view.html' with services=services has_remanentes=has_remanentes line_path=line_path current_category=current_category %}
    </div>
</div>
